fastapi
uvicorn
python-multipart
rank-bm25
chromadb
sentence-transformers
flashrank
groq
PyMuPDF
pydantic
langfuse
langchain_text_splitters
python-dotenv
numpy
ragas
datasets
langchain-groq
langchain-huggingface
